{"_type": "https://in-toto.io/Statement/v1", "subject": [{"name": "REPLACE-ME", "digest": {"sha256": "REPLACE-ME"}}], "predicateType": "https://slsa.dev/provenance/v1", "predicate": {"buildDefinition": {}, "runDetails": {}}}
